@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('Open-Sans-Regular'),
  url('fonts/OpenSans-Regular.ttf') format('truetype');
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #0c0c0c;
}

#map{
    height: 100vh;
    background-color: #0c0c0c;
}

.footer{
    position: fixed;
    background-color: rgba(155,155,155,.9);
    border: solid 2px #fafafa;
    border-bottom: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 300px;
    z-index:400;
}

.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.footer li {
    float: left;
    width:75px;
}

.footer li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 10px;
    text-decoration: none;
    border: 1px solid rgba(255,255,255,.1);
    transition: 0.5s all;
}

.footer li > a:hover {
    text-underline-position: under;
}

.footer li a:hover:not(.active) {
    background-color: #111;
    text-decoration: underline;
    text-decoration-color: tomato;
}

.sidepanel{
    z-index: 500;
    position: fixed;
    right: 0px;
    width: 300px;
    display: block;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333;
    border: solid 2px #fafafa;
    border-right: 0;
    color: white;
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}

.sidepanel h1{
    margin: 20px;
}

.sidepanel p{
    margin: 10px;
}

.close{
	display:block;
	width:22px;
	height:18px;
	position: absolute;
	right:2%;
	top: 2%;
	margin:3px 0;
	background: url('images/search-icon.png') no-repeat 0 -46px;
	text-decoration:none;
	filter: alpha(opacity=80);
	opacity: 0.8;
	cursor: pointer;
}

.active {
    background-color: #4CAF50;
}

.hidden{
    display: none;
}

#new-camera-panel{
    padding-right: 10px;
}

#new-camera-panel input{
    width: 250px;
    margin: 10px;
}

#new-camera-panel button{
    width: 270px;
    margin: 10px;
}