@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('Open-Sans-Regular'),
  url('fonts/OpenSans-Regular.ttf') format('truetype');
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

#map{
    height: 100vh;
}

.footer{
    position: fixed;
    background-color: rgba(155,155,155,.9);
    border: solid 2px #fafafa;
    border-bottom: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 300px;
    z-index:400;
}
.footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.footer li {
    float: left;
    width:75px;
}

.footer li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 10px;
    text-decoration: none;
    border: 1px solid rgba(255,255,255,.1);
    transition: 0.5s all;
}

.footer li > a:hover {
    text-underline-position: under;
}

.footer li a:hover:not(.active) {
    background-color: #111;
    text-decoration: underline;
    text-decoration-color: tomato;
}

.active {
    background-color: #4CAF50;
}